<div class="pt-5">



    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Contate-nos</h2>
                            <p>Home<span>/<span>Contate-nos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- ================ contact section start ================= -->
    <section class="contact-section section_padding">
        <div class="container">

            <div class="row">

                <div class="col-lg-7">
                  
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.9949209093074!2d13.1569675!3d-8.976597300000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a52210379ee6503%3A0xa6b71411b98ce284!2sHCENGINEERS!5e1!3m2!1sen!2spt!4v1778155029778!5m2!1sen!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="col-lg-5">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                                <div class="media-body">
                                    <h3>Luanda, Angola.</h3>
                                    <p>Município de Belas - Bairro Benfica, Zona Verde, RUA I</p>
                                </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>+244 944 692 293 <br> +244 222 034 052</h3>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>academia@hcengineers.net</h3>
                                <p>Envie-nos sua pergunta a qualquer momento!</p>
                            </div>
                        </div>

                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-time"></i></span>
                            <div class="media-body">
                                <h3>Segunda a Sexta: 8h00 - 18h00</h3>
                                <p>Sábado: 9h00 - 13h00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    </div>