<div class="pt-5">

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Galeria HCENGINEERS</h2>
                            <p>Explore momentos das nossas formações, práticas em laboratório e conquistas dos nossos alunos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- learning part start-->
    <section class=" pt-5">
        <div class="container">
            <!-- Container da Galeria -->
            <div id="lightgallery" class="row gallery">
                <div class="col-md-4 mb-4" v-for="(img, i) in images" :key="i">
                    <!-- O 'selector' do JS vai buscar estas tags 'a' -->
                    <a :href="img.full" @click.prevent>
                        <img :src="img.thumb">
                    </a>
                </div>
            </div>

        </div>
    </section>
    <!-- learning part end-->


</div>